body {
    margin: 0;
    font-family: Arial, serif;
}

.head-logo {
    font-family: 'Russo One', sans-serif;
    font-size: 45px;
    margin-bottom: 0;
}

.headline-text {
    font-family: 'Russo One', sans-serif;
}

.cursive-text {
    font-family: 'Lobster', cursive;
}

.cursive-logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin-right: 5px;
}

.navbar {
    background: rgb(255,255,255);
    background: linear-gradient(151deg, rgba(255,255,255,0.5018382352941176) 25%, rgba(0,57,166,0.3029586834733894) 50%, rgba(213,43,30,0.35057773109243695) 75%);
}

.how-to-play-container {
    margin: 25px;
}

.how-to-play-header {
    text-align: center;
}

.how-to-play-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.play-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.play-button {
    text-align: center;
}

.card-title {
    font-family: 'Russo One', sans-serif;
}

footer {
    background-color: darkgrey;
    text-align: center;
    margin-bottom: 0;
    margin-top: 50px;
    padding: 20px;
}

.play-card {
    transition: all 1s;
    transform-style: preserve-3d;
}

.play-card-rotated {
    transform: rotateY(180deg) scale(-1, 1);
}

.play-card-container {
    perspective: 1000px;
}